fastapi[standard]
sqlmodel 
asyncpg 
redis 
celery 
alembic 
pyjwt 
passlib 
bcrypt==4.0.1
anthropic
pydantic-settings
python-dotenv
pytest
pytest-asyncio
asgiref
hiredis
psycopg2-binary
email-validator
scalar-fastapi
